body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0.9375rem;
  background-color: var(--color-vlgray);
}
h1,
h2,
h3,
a,
p,
span {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
